# Gradle
.gradle/
build/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env

# Plugin directory
/.quarkus/cli/plugins/
# TLS Certificates
.certs/

/node_modules
/target/
*.log

# React build output
/build

# React-specific log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*